---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Cover from "../components/Cover.astro";
import Post from "../components/Post.astro";

export async function getStaticPaths() {
    const posts = import.meta.glob("../pages/posts/*.typ", { eager: true });

    return Object.entries(posts).map(([path, post]: [string, any]) => {
        const slug = path.split("/").pop()?.replace(".typ", "");
        return {
            params: { slug },
            props: { post },
        };
    });
}

const { slug } = Astro.params;
const { post } = Astro.props;
const { frontmatter } = post;
export const prerender = true;
---

<Layout>
    <div class="container">
        <Header />
        <div class="cover">
            <Cover src={frontmatter.cover} slug={frontmatter.slug} />
        </div>

        <Post server:defer {slug}>
            <div slot="fallback">rendered on client</div>
        </Post>
    </div>
</Layout>

<style>
    .container {
        min-height: 150vh;
    }
    .cover {
        padding: 10vh 0;
    }
</style>

<script>
    document.addEventListener("astro:page-load", () => {
        const path = window.location.pathname;
        if (path !== "/" && path !== "/code" && path !== "/text") {
            window.scrollTo({
                top: 150,
                left: 0,
                behavior: "instant",
            });
        }
    });
</script>
