---
import { Typst } from "astro-typst/src/components";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Cover from "../components/Cover.astro";
import path from "node:path";

export async function getStaticPaths() {
    const posts = import.meta.glob("../pages/posts/*.typ", { eager: true });

    return Object.entries(posts).map(([path, post]: [string, any]) => {
        const slug = path.split("/").pop()?.replace(".typ", "");
        return {
            params: { slug },
            props: { post }, // Pass the post data as props
        };
    });
}

const { slug } = Astro.params;
const { post } = Astro.props;
const { frontmatter } = post;

const filePath = path.join(process.cwd(), "src", "pages", "posts", `${slug}.typ`);
---

<Layout>
    <Header />
    <div class="cover">
        <Cover src={frontmatter.cover} slug={frontmatter.slug} />
    </div>
    <div class="typst">
        <Typst client:visible src={filePath} remPx={10} props={{ width: "100%", height: "auto" }} />
    </div>
</Layout>

<style>
    .cover {
        padding: 10vh 0;
    }
    .typst {
        width: 95vw;
        max-width: 1200px;
        margin: 0 auto;
    }
</style>

<script>
    document.addEventListener("astro:page-load", () => {
        const path = window.location.pathname;
        if (path !== "/" && path !== "/code" && path !== "/text") {
            window.scrollTo({
                top: 200,
                left: 0,
                behavior: "instant",
            });
        }
    });
</script>
