---
import Layout from "../layouts/Layout.astro";
import Tile from "../components/Tile.astro";
import Post from "../components/Post.astro";
import { getCollection, render } from "astro:content";
// export const prerender = true;

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
---

<Layout>
    <div class="container" id="content-container">
        <div class="cover">
            <Tile frontmatter={post.data} disableHoverEffect={true} />
        </div>
        <Post {post} server:defer />
    </div>
</Layout>

<style>
    .container {
        min-height: 150vh;
        overflow: hidden;
    }
    .cover {
        padding: 10vh 0;
    }
</style>
