---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>ADVISORY</h1>
    <div class="container">
        <p>
            Our advisory translates geometric deep learning expertise into
            strategic insights for select organizations in defense, technology,
            and policy domains. We develop bespoke frameworks that reveal hidden
            patterns within complex challenges, engaging only with projects
            offering meaningful intellectual challenge and impact potential. To
            discuss a potential collaboration, send us an email.
        </p>
        <p></p>
    </div>
</Layout>

<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
        text-align: justify;
        text-align-last: center;
    }
    h1 {
        padding: 10vh 0 5vh 0;
    }
</style>
