---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

const allBooks = Object.values(import.meta.glob("./books/*.md", { eager: true }));
---

<Layout>
    <Header />
    <h1>EX LIBRIS</h1>
    {
        allBooks.map((post: any) => (
            <a href={post.url}>
                <div class="book">
                    <h2>{post.frontmatter.title}</h2>
                    <p>{post.frontmatter.author}</p>
                    <Fragment set:html={post.compiledContent()} />
                </div>
            </a>
        ))
    }
</Layout>

<style>
    .book {
        margin: 1rem 0;
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>
