---
import Layout from "../layouts/Layout.astro";
// import Header from "../components/Header.astro";
---

<Layout>
    <!-- <div class="container"> -->
    <!-- <Header /> -->
    <!-- </div> -->
</Layout>

<style>
    .container {
        padding-top: 42vh;
    }
</style>
