---
import Layout from "../layouts/Layout.astro";
// import Header from "../components/Header.astro";
import List from "../components/List.astro";
import Tile from "../components/Tile.astro";
const text =
    "Though skeptically inclined we try a positive vision as we write about information technology and its cultural effect";
const exLibris = {
    slug: "exlibris",
    // author: "Noah Syrkis",
    title: "Ex Libris",
    cover: "/test.svg",
    // date: "2021-09-01",
};
---

<Layout>
    <div class="exLibirs">
        <Tile frontmatter={exLibris} />
        <div class="line">
            <center>———————</center>
        </div>
    </div>
    <List type="text" {text} />
</Layout>
