---
import Layout from "../layouts/Layout.astro";
import List from "../components/List.astro";
import Tile from "../components/Tile.astro";
const text =
    "Our writings explore the geometry of information systems, revealing computational structure in thought, culture, and society";
const exLibris = {
    slug: "exlibris",
    // author: "Noah Syrkis",
    title: "Ex Libris — Recommended Readings and Reviews",
    cover: "/neuroscope.svg",
    // date: "2021-09-01",
};
---

<Layout>
    <div class="text">{text}</div>
    <List type="text" {text} />
    <div class="exLibirs">
        <a href={"/" + exLibris.slug}>
            <!-- <div class="line"> -->
            <!-- <center>———————</center> -->
            <!-- </div> -->
            <Tile frontmatter={exLibris} />
        </a>
    </div>
</Layout>
