---
interface Props {
    src: string;
    slug: string;
}

const { src, slug = "" } = Astro.props;
---

<div class="image-container" transition:name={slug}>
    <img src={src} alt={slug} />
</div>

<style>
    .image-container {
        width: 90vw;
        height: 30vh;
        margin: 0 auto;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @media (max-width: 768px) {
        .image-container {
            height: 25vh;
        }
    }
</style>
