---
import { getCollection, getEntry } from "astro:content";
import Tile from "./Tile.astro";

interface Props {
    type: "code" | "text";
    text: string;
}

const { type } = Astro.props;
const text = Astro.props.text;

const posts = await getCollection("posts", ({ data }) => {
    return data.type === type;
});
---

<!-- src/components/List.astro -->
<div class="container">
    <div class="posts-list">
        <span class="text">{text}</span>
        <h3>
            — {type === "code" ? "PROJECTS" : "WRITINGS"} —
        </h3>
        {posts.map((post: any) => <Tile frontmatter={post.data} />)}
    </div>
</div>

<style>
    .posts-list {
        display: grid;
        gap: clamp(50px, 10vh, 150px);
        padding: 50px 0;
        width: 90%;
        margin: 0 auto;
    }

    @media (max-width: 768px) {
        .posts-list {
            width: 95%;
        }
        .text {
            font-size: clamp(0.8rem, 3vw, 1em);
        }
        h3 {
            font-size: clamp(0.8rem, 3vw, 1em);
        }
    }
</style>
