---
import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";
interface Props {
    post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<div class="post">
    <Content />
</div>

<style>
    .post {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }
    :global(svg.typst-doc) {
        height: auto !important; /* Override the inline height */
        width: 100% !important;
    }
</style>
