---
import { Typst } from "astro-typst/src/components";
import path from "node:path";

const { slug } = Astro.props;
const filePath = path.join(process.cwd(), "src/pages/posts", `${slug}.typ`);

console.log(filePath);

// Ensure this component can be server-rendered
export const prerender = true;
---

<div class="typst">
    <Typst src={filePath} remPx={10} props={{ width: "100%", height: "auto" }} />
    <slot name="fallback">
        <!-- <div class="loading">Loading post content...</div> -->
    </slot>
</div>

<style>
    .typst {
        width: 95vw;
        max-width: 1200px;
        margin: 0 auto;
    }
    .loading {
        text-align: center;
        padding: 2rem;
        color: #666;
        font-style: italic;
    }
</style>
