---
// await new Promise((resolve) => setTimeout(resolve, 2000));
import { Typst } from "astro-typst/src/components";

const { code } = Astro.props;
export const prerender = false;
---

<div class="typst">
    <!-- client:visible -->
    <!-- server:defer -->
    <Typst {code} remPx={10} props={{ width: "100%", height: "auto" }} />
</div>

<style>
    .typst {
        width: 95vw;
        max-width: 1200px;
        margin: 0 auto;
    }
    .loading {
        text-align: center;
        padding: 2rem;
        color: #666;
        font-style: italic;
    }
</style>
