---
import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";
interface Props {
    post: CollectionEntry<"posts">;
}

// `post` will match your 'blog' collection schema type
const { post } = Astro.props;
// console.log(post);
const { Content } = await render(post);
// console.log(Content);
---

<div class="post">
    <div class="post-content">
        <Content />
    </div>
</div>

<style>
    :global(.post) {
        width: 90%;
        margin: 0 auto;
    }
    :global(svg.typst-doc) {
        height: auto !important; /* Override the inline height */
        width: 100% !important;
    }
    .post-content {
        max-width: 1200px;
        margin: 0 auto;
    }
</style>
